*{
    margin: 0;
    padding: 0;
}

.body-wrapper{
    font-family: 'Open Sans', sans-serif;
    background-color:#f3f3f3;
}

.clear-fix:before,
.clear-fix:after {
    content: "";
    display: table;
}
.clear-fix:after {
    clear: both;
}
